@using WebApplication10.ViewComponents
@{
    ViewData["Title"] = "Polityka prywatności";
}


<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo erat ante, ac lacinia justo pulvinar non. Curabitur consectetur, magna vitae elementum rutrum, ex dolor sollicitudin urna, non rhoncus purus nisi nec libero. Morbi sollicitudin, magna sed scelerisque placerat, enim ipsum condimentum nulla, vel vehicula nulla eros quis erat. Aenean sit amet massa vitae nisi facilisis aliquet. Maecenas quis sapien sit amet nisi volutpat egestas. Pellentesque rhoncus mauris massa, ac fermentum urna varius dapibus. Maecenas dignissim ex turpis, non vulputate risus ultricies vitae. Nullam facilisis leo dignissim ante bibendum dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus aliquet justo dui, at faucibus risus efficitur eget. Cras sollicitudin dolor congue consequat efficitur. Quisque ligula purus, dignissim eget aliquam vitae, egestas eu nibh. Mauris lacinia ligula est, sed porttitor mi aliquam sit amet. Phasellus volutpat orci quis libero auctor laoreet non eget erat. Sed interdum velit et tempor fringilla. Donec bibendum sem nunc, a ultrices quam convallis at.  
</div>